@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-custom{
    background-image: url("../public/assets/hero1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-dark{
    background: rgba(0, 0, 0, 0.26)
  }
  .bg-blurry-dark{
    background:rgba(87, 144, 190, 0.5);
  }
}
